<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejoindre un groupe</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2>Rejoindre un groupe</h2>
    <form action="{{ url_for('connect_to_group') }}" method="post">
        <label for="group_name">Nom du groupe :</label>
        <input type="text" id="group_name" name="group_name" required>
        
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Créer</button>
    </form>
    <p>{{mess}}</p>
</body>
</html>
